* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.6;
  color: #333;
  font-size: 1rem; /* equivale a 10px*/
  font-weight: 400;
  font-family: "Roboto", "Oxygen", sans-serif;
  background: #fefefe;
}
/* Encabezados y parrafos incluir fuente roboto */
h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Roboto", "Oxygen", sans-serif;
}
h1,h2,h3,h4,h5,h6 { font-weight: 500; }
h1 {
  font-size: 3rem;
  line-height: 1.2;
}
h2 {
  font-size: 1rem;
  /* line-height: 1.25; */
}
h3 {
  font-size: 1rem;
  line-height: 1.3;
}
h4 {
  font-size: 1.728rem;
  line-height: 1.35;
}
h5 {
  font-size: 1.44rem;
  line-height: 1.5;
}
h6 {
  font-size: 1.2rem;
  line-height: 1.6;
}
p { font-size: 1rem; }

/* Reja */
.contenedor {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}
.fila {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
.fila:last-child { margin-bottom: 0; }
/* "^" = Selecciona todos los elementos que disponen de ese atributo y cuyo valor comienza exactamente por la cadena de texto indicada. */
/* "*" = Selecciona todos los elementos que disponen de ese atributo y cuyo valor contiene la cadena de texto indicada*/

.fila [class^="col-"], .fila [class*=" col-"] { padding-right: 5px; }
.fila .col-:last-child, .fila [class^="col-"]:last-child, .fila [class*=" col-"]:last-child { padding-right: 0; }

/*-8 decimales bootstrap-*/

.fila .col-1 { width: 8.33333332%; }
.fila .col-2 { width: 16.66666664%; }
.fila .col-3 { width: 25%; }
.fila .col-4 { width: 33.33333333%; }
.fila .col-5 { width: 41.66666667%; }
.fila .col-6 { width: 50%; }
.fila .col-7 { width: 58.33333336%; }
.fila .col-8 { width: 66.66666666%; }
.fila .col-9 { width: 75%; }
.fila .col-10 { width: 83.33333334%; }
.fila .col-11 { width: 91.66666666%; }
.fila .col-12 { width: 100%; }
/*Listas*/
ul,
ol {
  margin-top: 0;
  margin-bottom: 0px;
  padding-left: 0;
  list-style-position: inside;
}
ul li,
ol li {
  margin-bottom: 0px;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-left: 0px;
}
/* Imagen - responisve */
img {
  margin: 0;
  width: 100%;
  height: auto;
}
/* Menu - estandar no hamburgesa */
.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav .nav_item { margin-right: 5px; }
.nav .nav_item:last-child { margin-right: 0; }
/* Extras */
.p_relative { position: relative; }
.p_absolute { position: absolute; }
.p_fixed { position: fixed; }
.txt_left { text-align: left; }
.txt_center { text-align: center; }
.txt_right { text-align: right; }
.hidden { display: none; }
.flex { display: flex; }
.j_start { justify-content: flex-start; }
.j_center { justify-content: center; }
.j_end { justify-content: flex-end; }
.j_space{ justify-content: space-between; }
.align_start { align-items: flex-start; }
.align_center { align-items: center; }
.align_end { align-items: flex-end; }
.d_vertical { flex-direction: column; }
.d_horizontal { flex-direction: row; }
.full_height { min-height: 100vh; }
.full_width { width: 100%; }
.full {
  width: 100%;
  min-height: 100vh;
}
.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  h1 { font-size: 2.027rem; }
  h2 { font-size: 1.802rem; }
  h3 { font-size: 1.602rem; }
  h4 { font-size: 1.424rem; }
  h5 { font-size: 1.266rem; }
  h6 { font-size: 1.125rem; }

}

/*Cuando la pantalla sea mas pequeña que 768px*/
@media screen and (max-width: 768px) {
  /*para fila*/
  .fila,.fila [class^='col-'],.fila [class*=" col-"] {
    flex: 0 0 100%;
    margin-bottom: 5px;
    padding: 0;
  }
  .fila .col:last-child,
  .fila [class^='col-']:last-child,
  .fila [class*=" col-"]:last-child {
    margin-bottom: 0;
  }

  #menu{
  	display: none;
  }

.icon-menu {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 5px;
	font-size: 1.5rem;
	color: #f32a1c;
	z-index: 10;
	}

}


/*CABECERA*/

#wrap_menu{
	position: fixed;
	width: 100%;
	box-shadow: 0 1px 3px #c2c2c2;
  z-index: 55;
}

.top {
	align-items: center;
	background-color: #f6f7f9;
	border-bottom: solid 1px  #EFEFEF;
	color: #191919;
	font-size: .85rem;
	height: 35px;
	padding: 0 25px;
}

.top span {
	padding: 0 5px;
}

.top [class="flex"] li{
  padding-right: 5px;
  color: #737373;
}

li a[class*="icon-"]{
  color: #737373;
}



.top span:nth-child(1){
	color: #f32a1c;
}

.top div:last-child ul li {
  padding-left: 5px;
  color: #737373;
}

.menu {
	border-bottom: solid 1px #EFEFEF;
	height: auto;
	padding: 0 0 0 25px;
	background-color: #fff;
}


.menu div:nth-child(2) {
  display: flex;
  justify-content: center;
}

.menu img{
  width: 20%;
  margin-top: 5px;
}


.navegacion {
  font-size: .95rem;
  letter-spacing: 1.5px;
  flex-wrap: wrap;
  color: #333;
}

.navegacion ul li {
  margin-right: 10px;
  border-right: 1px solid #f32a1c;
  padding-right: 10px;
}

.navegacion ul li a, #categorias h3{
  text-transform: uppercase;
}

.navegacion ul li:nth-child(7) {
  border:none
}

.navegacion .flex{
	flex-wrap: wrap;
}

.carro{
	background-color: #f32a1c;
	height: 60px;
	position: relative;
}

.carro span{
	line-height: 1;
}

.carro ul {
	justify-content: space-around;
	align-items: center;
	color: #fff;
	font-size: 1.2rem;
	width: 100%;
}

.carro .icon-shop{
    color: #fff;
    font-size: 23px;
}

.carro > ul li{

} 

.narticulos{

  position: absolute;
  left: 0;
  margin-left: 50px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

#buscar input[type="text"] {
  height: 60px;
  font-size: 1rem;
  border: none;
  outline: none;
  color: #555;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

#buscar input[type="text"]:focus {
  width: 250px;
  z-index: 2;
  cursor: text;
  background-color: #fff;
  background-image: url('../img/plantilla/buscar_r.svg');
  background-position: 95% 50% ;
  background-repeat: no-repeat;
  background-size: 23px;

}
#buscar input[type="submit"] {
  width: 22px;
  height: 22px;
  background-image: url('../img/plantilla/buscar.svg');
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -10000px;
  border: none;
  z-index: 2;
  cursor: pointer;
  transition: opacity .4s ease;
  background-color: #f32a1c;
}

#btncategorias {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #f32a1c;
  font-size: 25px;
  z-index: 15;
  margin-top: 79px;
}



#btncategorias i{
  cursor: pointer;
}

#categorias {
  padding-top: 110px;
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  opacity: 0.8;
  box-shadow: 0 1px 3px #c2c2c2;
}

#categorias ul:nth-child(even) {
  padding-left: 10px;
  border-right: 1px solid #e2e2e2;
  padding-right: 65%;
}

#categorias .contenedor > div:nth-child(4) ul {
  border: none;
  padding-right: 0;
}


/*SLIDER*/


#slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  background-color: #f8f7fd;
}

#slider:hover, article:hover{
  background-image: url('http://localhost:8085/bck_ecommerce_/vistas/img/productos/vignette.png');
  background-size: cover;
}

.slides{
  width:400%;
  height:100%;
  position:relative;
  animation:slide 30s infinite;
}

#slides:hover{
   animation-play-state: paused;
}

.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}
.slider img{
  width:57%;
  height:100%;
}

.slider button {
  border: 1px solid red;
  padding: .5rem;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: transparent;
  color: red;
}

/* Mascara */
.mascara {
  position: absolute;
  background-color: rgba(243, 0, 1, 0.75);
  width: 30%;
  height: 809px;
}

/* Descripcion */
.descripcion {
  width: 75%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.texto {
  position: relative;
  top: 300px;
  width: 330px;
  text-align: justify;
}

.texto h1 {
  font-size: 40px;
  color: #333;
  text-align: left;
  margin-left: 0px;
  padding-bottom: 10px;
  font-weight: bold;
}

.texto h2 {
  font-weight: normal;
  font-size: 14px;
  color: #333;
  text-align: justify;
  margin-left: 0;
}

@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}

#destacados {
  position: absolute;
  z-index: 1;
  right: 0;
  padding-top: 100px;
  background-color: #fff;
  height: 100%;
  overflow: scroll;
  border-left: 1px solid #EFEFEF;
}

#destacados h2{
  font-size: 20px;
  text-transform: uppercase;
}

#destacados article {
  height: auto;
  border-bottom: 1px solid #DBD7D7;
  padding: 5px;
  text-align: center;
}

#destacados article p {
  font-size: 14px;
}
#destacados img{ width: 70%; }

#destacados button {
  border: 1px solid red;
  text-transform: uppercase;
  background-color: red;
  color: #fff;
  font-size: 12px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	#wrap_menu, #btncategorias, #destacados { display: none; }
	#slider{
    margin-top: 50px;
    height: auto;
    position: relative;
  }
	.texto h1 {font-size: 20px;}
	.descripcion { width: 100%;	}
	.texto {
		top: 0;
		padding-right: 15px;
	}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 320px) {
	.texto {
		position: relative;
		width: 305px;
		text-align: justify;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	.texto { 
		top: 0;
		width: 160px;
		padding-right: 5px;
		text-align: center;
	}
	.texto h2 {
	height: 90px;
	overflow: hidden;
}
	.mascara {	height: 182px;	}
	.slider button {
		padding: .1rem;
		margin-top: 23px;
	}
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.top, .icon-menu, #destacados{ display: none; }
	.descripcion { width: 100%; }
	.texto {
		width: 350px;
		padding-right: 25px;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.menu img { width: 25%; }
.narticulos { margin-left: 40px; }
#btncategorias { margin-top: 45px; }
#categorias { padding-top: 70px; }
.slider img { width: 75%; }
#destacados{ display: none; }

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#wrap_menu { position: relative; }
	.menu{ padding: 0;}
	#categorias{ padding-top: 10px; }
	.menu img, .carro { display: none; }
	#btncategorias { margin-top: -17px; }
	.navegacion ul li a, #categorias h3 {
		text-align: center;
		font-size: .95rem;
	}
	.mascara { height: 438px; }
	.texto { top: 150px; }
	.texto h1 { font-size: 30px; }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
.icon-menu{ display: none; }

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
.top { font-size: .95rem; }
.navegacion { font-size: 1rem; }
.icon-menu{ display: none; }
.carro {
	background-color: #f32a1c;
	height: 80px;
	position: relative;
}
#buscar input[type="text"] { height: 80px; }
#btncategorias { margin-top: 100px; }
#categorias { padding-top: 130px; }
.narticulos { margin: 20px 0 0 65px; }
.texto { width: 400px; }
.texto h1 { font-size: 50px; }
.texto h2 { font-size: 17px; }
.texto { top: 300px;}
.mascara{height:100%;}
#destacados {
  padding-top: 130px;
}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}